<form style="text-align: center" [formGroup]="quiz" (ngSubmit)="onsubmit()">
    <h1 style="text-align: center"> MyQuiz</h1>
    <label *ngIf="ques[i]?.question.length>0">Ques.{{i+1}}-</label> {{ques[i]?.question}}<br><br>


    <label *ngIf="ques[i]?.answers.length>0"><input type="radio" name="options" value="{{ques[i].answers[0].a}}" formControlName="options">
    {{ques[i]?.answers[0]?.a}}</label>
    <label *ngIf="ques[i]?.answers.length>0"><input type="radio" name="options" value="{{ques[i].answers[0].b}}" formControlName="options">
    {{ques[i]?.answers[0]?.b}}</label>
    <label *ngIf="ques[i]?.answers.length>0"><input type="radio" name="options" value="{{ques[i].answers[0].c}}" formControlName="options">
   {{ques[i]?.answers[0]?.c}}</label><br><br>
    <br>
    <button (click)="check()">Next</button>

</form><br>
<button [disabled]="!quiz.valid" type="button" (click)="result()">Result</button>
<h4>You got {{count}} out of {{ques.length}}</h4>




<router-outlet></router-outlet>